USE [QLDV]
GO
/****** Object:  Table [dbo].[chiTietDonDat]    Script Date: 2/2/2026 4:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiTietDonDat](
	[maCT] [int] IDENTITY(1,1) NOT NULL,
	[trangThai] [bit] NOT NULL,
	[maGhe] [int] NOT NULL,
	[maSuat] [int] NOT NULL,
	[maDon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cumRap]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cumRap](
	[maCumRap] [int] IDENTITY(1,1) NOT NULL,
	[tenCumRap] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](255) NOT NULL,
	[thanhPho] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCumRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doAn]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doAn](
	[maCombo] [int] IDENTITY(1,1) NOT NULL,
	[moTa] [nvarchar](255) NOT NULL,
	[gia] [money] NOT NULL,
	[trangThai] [bit] NOT NULL,
	[hinhAnh] [text] NOT NULL,
 CONSTRAINT [PK__doAn__CF0375EC66B8A77D] PRIMARY KEY CLUSTERED 
(
	[maCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donDatVe]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donDatVe](
	[maDon] [int] IDENTITY(1,1) NOT NULL,
	[ngayDat] [datetime] NOT NULL,
	[tongTien] [money] NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[maUsers] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donDatVe_doAn]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donDatVe_doAn](
	[maCombo] [int] NOT NULL,
	[maDon] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[gia] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCombo] ASC,
	[maDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gheNgoi]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gheNgoi](
	[maGhe] [int] IDENTITY(1,1) NOT NULL,
	[tenGhe] [char](3) NOT NULL,
	[hangGhe] [char](1) NOT NULL,
	[loaiGhe] [nvarchar](20) NOT NULL,
	[maPhong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[maPhim] [int] IDENTITY(1,1) NOT NULL,
	[tenPhim] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[thoiLuong] [int] NOT NULL,
	[ngayPhatHanh] [date] NOT NULL,
	[daoDien] [nvarchar](50) NOT NULL,
	[posterPhim] [varchar](255) NULL,
	[trailerPhim] [varchar](150) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[ngayKetThuc] [date] NOT NULL,
	[dienVien] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim_theLoai]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim_theLoai](
	[maPhim] [int] NOT NULL,
	[maTheLoai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhim] ASC,
	[maTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phongChieu]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phongChieu](
	[maPhong] [int] IDENTITY(1,1) NOT NULL,
	[tenPhong] [nvarchar](50) NOT NULL,
	[tongGhe] [int] NOT NULL,
	[maCumRap] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suatChieu]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suatChieu](
	[maSuat] [int] IDENTITY(1,1) NOT NULL,
	[gioBatDau] [datetime] NOT NULL,
	[gioKetThuc] [datetime] NOT NULL,
	[maPhim] [int] NOT NULL,
	[maPhong] [int] NOT NULL,
	[gia] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theLoai]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theLoai](
	[maTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[tenTheLoai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[maUsers] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[matKhau] [varchar](50) NOT NULL,
	[soDienThoai] [varchar](20) NOT NULL,
	[vaiTro] [varchar](20) NOT NULL,
	[ngayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maUsers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Phim]    Script Date: 2/2/2026 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Phim](
	[maPhim] [int] NOT NULL,
	[maUsers] [int] NOT NULL,
	[binhLuan] [nvarchar](max) NULL,
	[diem] [int] NULL,
	[ngayBL] [datetime] NOT NULL,
	[trangThai] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[donDatVe] ADD  DEFAULT (getdate()) FOR [ngayDat]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[Users_Phim] ADD  DEFAULT (getdate()) FOR [ngayBL]
GO
ALTER TABLE [dbo].[chiTietDonDat]  WITH CHECK ADD FOREIGN KEY([maDon])
REFERENCES [dbo].[donDatVe] ([maDon])
GO
ALTER TABLE [dbo].[chiTietDonDat]  WITH CHECK ADD FOREIGN KEY([maGhe])
REFERENCES [dbo].[gheNgoi] ([maGhe])
GO
ALTER TABLE [dbo].[chiTietDonDat]  WITH CHECK ADD FOREIGN KEY([maSuat])
REFERENCES [dbo].[suatChieu] ([maSuat])
GO
ALTER TABLE [dbo].[donDatVe]  WITH CHECK ADD FOREIGN KEY([maUsers])
REFERENCES [dbo].[Users] ([maUsers])
GO
ALTER TABLE [dbo].[donDatVe_doAn]  WITH CHECK ADD  CONSTRAINT [FK__donDatVe___maCom__11158940] FOREIGN KEY([maCombo])
REFERENCES [dbo].[doAn] ([maCombo])
GO
ALTER TABLE [dbo].[donDatVe_doAn] CHECK CONSTRAINT [FK__donDatVe___maCom__11158940]
GO
ALTER TABLE [dbo].[donDatVe_doAn]  WITH CHECK ADD FOREIGN KEY([maDon])
REFERENCES [dbo].[donDatVe] ([maDon])
GO
ALTER TABLE [dbo].[gheNgoi]  WITH CHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[phongChieu] ([maPhong])
GO
ALTER TABLE [dbo].[Phim_theLoai]  WITH CHECK ADD FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[Phim_theLoai]  WITH CHECK ADD FOREIGN KEY([maTheLoai])
REFERENCES [dbo].[theLoai] ([maTheLoai])
GO
ALTER TABLE [dbo].[phongChieu]  WITH CHECK ADD FOREIGN KEY([maCumRap])
REFERENCES [dbo].[cumRap] ([maCumRap])
GO
ALTER TABLE [dbo].[suatChieu]  WITH CHECK ADD FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[suatChieu]  WITH CHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[phongChieu] ([maPhong])
GO
ALTER TABLE [dbo].[Users_Phim]  WITH CHECK ADD FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[Users_Phim]  WITH CHECK ADD FOREIGN KEY([maUsers])
REFERENCES [dbo].[Users] ([maUsers])
GO
